body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#count-display {
    display: block;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #007bff;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#decrement-btn {
    background-color: #dc3545; /* Merah */
    color: white;
}

#increment-btn {
    background-color: #28a745; /* Hijau */
    color: white;
}

#decrement-btn:hover {
    background-color: #c82333;
}

#increment-btn:hover {
    background-color: #218838;
      }
